html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    --xRef-badge-size: 40px;
}

body, input, select {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("img/Backgrounds/bg_aoe2_hd_paper.jpg") repeat;
}

a, a:hover, a:visited, a:active {
    color: #4d3617;
}

.info {
    font-size: 8pt;
    color: #4d3617;
}

.info p {
    margin-top: 0;
}

#container {
    min-width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    display: flex;
    flex-direction: column;
}

#navigation {
    padding-left: 1rem;
}

#helptext {
    position: absolute;
    display: none;
    width: 300px;
    background-color: #eee;
    border: 1px solid #bbb;
    padding: 0.4rem;
    font-size: 10pt;
}

#helptext__x_ref__container {
    /* There are 35 civs, 5x7 makes the badges into a nice square. */
    max-width: calc(var(--xRef-badge-size) * 7);
    margin: auto;
    padding-top: 0.2rem;
}

/* Style for helptext Cross-Reference buttons */
#helptext #helptext__x_ref div button {
    background-color: transparent;
    border: none;
    padding: 0;
}

/* Style for helptext Cross-Reference image badges */
#helptext #helptext__x_ref div button img {
    width: var(--xRef-badge-size);
    height: var(--xRef-badge-size);
}

#helptext p {
    margin-top: 0;
    margin-bottom: 15px;
}

#helptext h3 {
    font-family: sans-serif;
    font-size: 9pt;
    text-transform: uppercase;
    color: #4d3617;
    margin-bottom: 5px;
}

#helptext summary {
    font-family: sans-serif;
    font-size: 8pt;
    color: #4d3617;
    text-transform: uppercase;
    cursor: pointer;
}

#wrapper {
    min-width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


#techtree {
    border-left: 6px solid #4d3617;
    padding-top: 1rem;
    flex: 1 0 auto;
    position: relative;
    width: calc(100vw - 22rem - 20px);
    overflow-x: scroll;
}

#metainfo {
    border-right: 6px solid #4d3617;
    border-right: none;
    width: 20rem;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 1rem;
}

#civselect {
    font-size: 24px;
    font-weight: bold;
    background-color: #72604a;
    flex: 1 0 auto;
    margin-right: 1rem;
    color: white;
    text-shadow: #000000 -3px 2px;
    box-shadow: inset 0 2px #3f4806, inset 2px -2px #768141, inset -2px 0 #768141;
    padding: 5px;
}

#civselect option {
    text-shadow: none;
}

#civselect:focus {
    outline: none;
}

#civinfo {
    flex: 1 0 auto;
    font-size: 10pt;
}

#civtitle {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#thanks {
    flex: 0 0 auto;
}

hr {
    overflow: visible;
    /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr:before {
    /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

#navigation {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.node__overlay {
    fill: transparent;
    cursor: pointer;
}

.node.is-highlight .node__overlay {
    stroke: #fff;
    stroke-width: 3px;
}

.xRef__badge {
    cursor: pointer;
}

.connection {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.connection.is-highlight {
    stroke: #fff;
    stroke-width: 3px;
}

@media (max-width: 900px) {
    #techtree {
        width: auto;
        overflow-x: auto;
    }
}
